<div class="wrapper">
<div class="container-holder">
<div class="login-container">
    <h2>Login</h2>
    <form #form="ngForm" (ngSubmit)="login(form)">
      <!-- Email Field -->
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          ngModel
          required
          validEmail
          placeholder="Enter email"
          #email="ngModel"
        />
        <small class="red" *ngIf="email.errors?.['invalidEmail'] && email.touched">
          Please enter a valid email address (e.g., user&#64;example.com).
        </small>
        <small class="red" *ngIf="email.errors?.['required'] && email.touched">
          Email is required.
        </small>
      </div>
  
      <!-- Password Field -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          ngModel
          required
          validPassword
          placeholder="Enter password"
          #password="ngModel"
        />
        <small class="red" *ngIf="password.errors?.['invalidPassword']&& password.touched">
          Password should be at least 8 characters long, contain a capital letter, and a number.
        </small>
        <small class="red" *ngIf="password.errors?.['required'] && password.touched">
          Password is required.
        </small>
      </div>
  
      <!-- Submit Button -->
      <button [disabled]="form.invalid"
      [ngClass]="{ 'disabled-button': form.invalid }"
      >Login</button>
       <!-- Display error message if any -->
    <div *ngIf="errorMessage" class="error-message">
      <p>{{ errorMessage }}</p>
    </div>
    </form>
  </div>

</div>

</div>