<div class="register-container">
  <h2>Register</h2>

  <!-- Bind the form to the FormGroup -->
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <!-- Username Field -->
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        placeholder="Enter username"
      />
      <small class="areNotMatching"  *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
        Username must be at least 5 characters long.
      </small>
    </div>

    <!-- Email Field -->
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Enter email"
      />
      <small class="areNotMatching" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        Please enter a valid email address.
      </small>
    </div>

    <!-- Password Group -->
    <div formGroupName="passGroup">
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Enter password"
        />
        <small class="areNotMatching" *ngIf="registerForm.get('passGroup.password')?.invalid && registerForm.get('passGroup.password')?.touched">
          Password must be at least 8 characters long, contain a capital letter, and a number.
        </small>
      </div>

      <div class="form-group">
        <label for="repassword">Re-enter Password</label>
        <input
          type="password"
          id="repassword"
          formControlName="rePassword"
          placeholder="Re-enter password"
        />
        <small class= "areNotMatching" *ngIf="registerForm.get('passGroup')?.errors?.['passwordsMismatch'] && registerForm.get('passGroup')?.touched">
          Passwords do not match.
        </small>
      </div>
    </div>

    <!-- Telephone Number Field -->
    <div class="form-group">
      <label for="telephone">Telephone Number</label>
      <input
        type="tel"
        id="tel"
        formControlName="tel"
        placeholder="Enter telephone number"
      />
      <small>Adding your phone number is optional!</small>
    </div>

    <!-- Submit Button -->
    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
</div>
