<div class="user-themes-page">
    @if(!isEmpty){
        <h1>Your Themes</h1>
    }
    <div class="themes-grid">
        @if(isEmpty){
            <app-empty-theme-page/>
        }  @else {
            @for (theme of userThemes; track $index) {
                <div class="theme-card">
                    <div class="x-holder">
                    <i class="fa-solid fa-xmark remove"></i>
                </div>
                    <h2>{{ theme.themeName }}</h2>
                    <p>{{ theme.created_at }}</p>
                    <div class="btn-holder">
                    <button class="view-theme-btn" (click)="viewPosts(theme._id)" >View Posts</button>
                    <button class="view-theme-btn" (click)="createPost(theme._id)"><i class="fa-solid fa-pen"></i>   Post a comment</button>
                </div>
                  </div>
            }
        }
    </div>
  </div>
  