<div class="wrapper">
<div class="create-post-container">
  <h2>Post a comment:</h2>
  <form #form="ngForm" (ngSubmit)="postComment(form)">
    <div class="form-group">
      <div class="label-group">
        <label for="themeName" class="theme-select">
          Current theme: {{ theme.themeName }}
        </label>
        <label for="body">Comment text:</label>
      </div>
      <textarea
        id="body"
        name="body"
        class="form-control"
        required
        minlength="10"
        rows="5"
        placeholder="Write your comment here..."
        ngModel
      ></textarea>
    </div>

    <!-- Submit Button -->
    <button
      class="post-comment btn btn-primary"
      type="submit"
    >
      Create Post
    </button>
  </form>
</div>
</div>