<div class="wrapper">
<div class="create-theme-container">
    <h2>Create a New Theme</h2>
    <form [formGroup]="creationForm" (ngSubmit)="createForm()" class="create-theme-form">
      <div class="form-group">
        <label for="theme-name">Theme Name</label>
        <input 
        type="text"
         id="theme-name" 
         placeholder="Enter theme name" 
         required 
         formControlName="themeName"
         />
         <div *ngIf="isDuplicate" style="color: red;">
          A theme with this name already exists. Please choose another name.
        </div>
      </div>
      <div class="form-group">
        <label for="theme-description">Description</label>
        <textarea
        id="theme-description"
        placeholder="Enter theme description"
        required
        formControlName="postText"
        rows="4"
        >
        </textarea>
      </div>
      <button type="submit" class="submit-btn">Create Theme</button>
    </form>
  </div>

</div>