.container {
    background: white;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.link-box {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.link-box:hover {
    background: lightgrey;
   
}

i {
    display: flex;
    align-items: center;
}
