<div class="container">
 
        <div class="link-box">
            <i class="fa-solid fa-border-all"></i>
        <a routerLink="/home" (click)="onLinkClick()">Home</a>
    </div>
    <div class="link-box">
        <i class="fa-solid fa-circle-info"></i>
        <a routerLink="/themes" (click)="onLinkClick()">Themes</a>
    </div>
    <div class="link-box">
        <i class="fa-regular fa-address-card"></i>
       <a routerLink="/contact" (click)="onLinkClick()">Contact</a>
    </div>
    <div class="link-box">
        <i class="fa-regular fa-address-card"></i>
       <a routerLink="/about" (click)="onLinkClick()">About</a>
    </div>
</div>

