<div class="container">
    <ul class="profile-menu">
        <li (click)="onLinkClick()" routerLink="/home"><i class="fa-solid fa-border-all"></i>Home</li>
        <li (click)="onLinkClick()" routerLink="/themes"><i class="fa-solid fa-circle-info"></i>Themes</li>
        <li (click)="onLinkClick()" routerLink="/contact"><i class="fa-solid fa-circle-info"></i>Contact</li>
        <li (click)="onLinkClick()" routerLink="/about"><i class="fa-regular fa-address-card"></i>About</li>
      </ul>
</div>

      
     
      <!-- <div class="container">
 
        <div class="link-box">
            <i class="fa-solid fa-border-all"></i>
        <a routerLink="/home" (click)="onLinkClick()">Home</a>
    </div>
    <div class="link-box">
        <i class="fa-solid fa-circle-info"></i>
        <a routerLink="/themes" (click)="onLinkClick()">Themes</a>
    </div>
    <div class="link-box">
        <i class="fa-regular fa-address-card"></i>
       <a routerLink="/contact" (click)="onLinkClick()">Contact</a>
    </div>
    <div class="link-box">
        <i class="fa-regular fa-address-card"></i>
       <a routerLink="/about" (click)="onLinkClick()">About</a>
    </div>
</div> -->