<header>
  <nav class="navbar">
    <div class="logo-container">
      <a routerLink="/" class="logo">
        <img class="logo" src="/images/just-logo.png" alt="">
      </a>
    </div>
    <div class="menu-holder">
    <app-hamburger-menu class="menu" (click)="toggleHamburger()"/>
  </div>
    <ul class="loginBar">
      @if(isLoggedIn) {
        <li><a class="link" (click)="showProfile()">{{username}}</a>
        @if(isShown){
          <div class="user-profile">
            <app-user-profile class="down" [closeMenu]="showProfile.bind(this)"/>
          </div>
        }
      } @else {
        <li class="login-links"><a routerLink="/login">Sign in</a>
          <a routerLink="/register">Sign up</a>
        </li>
      }
    </ul>
  </nav>
</header>
