<header>
  <nav class="navbar">
    <div class="menu-holder">
    <app-hamburger-menu class="menu"/>
  </div>
    <ul class="loginBar">
      @if(isLoggedIn) {
        <li><a class="link" (click)="showProfile()">John's Profile</a>
        @if(isShown){
          <div class="user-profile">
            <app-user-profile class="down" [closeMenu]="showProfile.bind(this)"/>
          </div>
        }
      } @else {
        <li class="login-links"><a routerLink="/login">Login</a>
          <a routerLink="/register">Register</a>
        </li>
      }
    </ul>
  </nav>
</header>
