<div class="user-container">
<div class="user-profile-header">
    <img class="profile-avatar" src="/images/1_PiHoomzwh9Plr9_GA26JcA.png" alt="User Avatar" />
    <div class="profile-info">
      <h3>Devon Lane</h3>
      <p>infoexample.com</p>
    </div>
  </div>
  <hr />
  <hr />
  <ul class="profile-menu">
    <li (click)="onLinkClick()"><i class="shop-icon"></i> Your Themes</li>
    <li (click)="onLinkClick()" routerLink="/create-theme"><i class="doc-icon"></i>Create a Theme</li>
    <li (click)="onLinkClick()"><i class="affiliate-icon"></i>Change password</li>
    <li (click)="onLinkClick()" routerLink="/profile-settings"><i class="settings-icon"></i>Settings</li>
  </ul>
  <hr />
  <button class="logout-button">
    <i (click)="logout()" class="logout-icon">Log Out</i>
  </button>
</div>