<div class="change-password-container">
    <h2>Change Password</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input
          type="password"
          id="currentPassword"
          formControlName="currentPassword"
          placeholder="Enter current password"
          required
        />
        <span
          *ngIf="
            changePasswordForm.get('currentPassword')?.hasError('required') &&
            changePasswordForm.get('currentPassword')?.touched
          "
        >
          Current password is required.
        </span>
        <span
          *ngIf="
            changePasswordForm.get('currentPassword')?.hasError('currentPasswordMismatch') &&
            changePasswordForm.get('currentPassword')?.touched
          "
        >
          The entered current password is incorrect.
        </span>
      </div>
  
      <!-- New Password -->
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input
          type="password"
          id="newPassword"
          formControlName="newPassword"
          placeholder="Enter new password"
          required
        />
        <span *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched">
          Password should be at least 8 characters long, contain a capital letter, and a number.
        </span>
      </div>
  
      <!-- Confirm New Password -->
      <div class="form-group">
        <label for="confirmPassword">Confirm New Password</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder="Confirm new password"
          required
        />
        <span *ngIf="changePasswordForm.errors?.['passwordsMismatch']">
        Passwords do not match.
      </span>
      </div>
  
      <button type="submit" [disabled]="changePasswordForm.invalid">Change Password</button>
    </form>

  </div>

  <!--  -->
